.no-result-image {
  width: 300px;
  height: 300px;
  margin: 0px;
}
.last-transaction-container {
  margin-top: 24px;
}
.last-transaction-heading {
  color: #333b69;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}
.last-three-transaction-container {
  background-color: #ffffff;
  padding: 0px;
  padding: 12px 24px;
  border-radius: 24px;
}
.last-three-transaction-container-no-result {
  background-color: #ffffff;
  padding: 0px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
.no-result-heading {
  color: #2d60ff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
.no-result-para {
  color: #505887;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.no-result-text-container {
  padding-bottom: 30px;
  display: flex;
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-result-last-transaction-heading {
  color: #333b69;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  margin-bottom: 8px;
}
